{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main role="main" class="flex-shrink-0">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <p>Dofus Group est un outil qui va vous permettre de trouver du monde pour créer groupe pour faire un donjon sur Dofus Retro Monocompte.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card">
          <div class="card-body text-center">
          <a href ="{{ path('create_dungeon_request') }}">
            Faire une demande de groupe
          </a>
        </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body text-center">
            <a href ="{{ path('list_dungeon_request') }}">
              Trouver un groupe
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
